<ul class="card-list">
<% if (page.posts.length > 0) { %>
  <% page.posts.sort('date', -1).limit(10).each(post => { %>
    <li class="card">
      <a href="<%=url_for(post.path)%>"><%= post.title %></a>
      <time datetime="<%=post.date.toJSON()%>">
        <%= date(post.date) %>
      </time>
    </li>
  <% }); %>
<% } %>
</ul>

<%- partial('_partial/pagination') %>
