<!DOCTYPE html>
<html lang="<%=config.language%>">
<%- partial('_partial/head') %>
<body>

<%- partial('_partial/header') %>

<main id="content">
  <%- body %>
</main>

<% if (!page.hideSidebar) { %>
<%- partial('_partial/sidebar') %>
<% } %>

<%- partial('_partial/footer') %>
</body>
</html>
