<%
let pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = 'Archives';
if (is_tag()) pageTitle = 'Tag: ' + page.tag;
if (is_category()) pageTitle = 'Category: ' + page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' [ ' + config.title + ' ]';
%>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0">
  <title><%=pageTitle%></title>
  <%- css('css/common.css') %>
  <%- is_home() ? css('css/home.css') : '' %>
  <%- is_post() ? css('css/article.css') : '' %>
  <%- is_archive() ? css('css/archive.css') : '' %>
  <%- is_page() ? css('css/page.css') : '' %>
</head>